In [31]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
df = pd.read_csv("/Users/tringuyen1803/Desktop/crossroads-classic-analytics-challenge-24/DIWBB_Training.csv")
df.head(10)

/var/folders/bm/mmvwf97s6zz3j12mqw_jdsxc0000gn/T/ipykernel_24162/2956558920.py:4: DtypeWarning: Columns (13,14,15,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/tringuyen1803/Desktop/crossroads-classic-analytics-challenge-24/DIWBB_Training.csv")

,RecordID,ChampionshipYear,CustomerID,CustomerCity,CustomerState,CustomerZipCode,CustomerInstitutionAffinity,IsCustomerInNCAAMembership,HasCustomerClickedOrOpenedEmailsSixMonthsPrior,CustomerFirstWBBActionDate,CustomerFirstWBBPurchaseDate,CustomerLastWBBActionDate,CustomerLastWBBPurchaseDate,EventRoundName,IsEventFinalSite,EventSession,EventBeginDate,EventEndDate,HostingInstitution,FacilityName,FacilityDescription,FacilityCity,FacilityState,FacilityZipCode,ActivityType
0,4,2022,757758,Huntsville,TX,77340,(UNK),No,(N/A),10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
1,14,2022,574752,Salem,OR,97304,(UNK),No,Yes,10/12/19,NaN,10/12/19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
2,20,2022,741837,(UNK),UNK,(UNK),(UNK),No,Yes,10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
3,21,2022,237618,(UNK),UNK,(UNK),(UNK),No,Yes,10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
4,23,2022,799761,(UNK),UNK,(UNK),(UNK),No,(N/A),3/20/18,3/20/18,3/20/18,3/20/18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
5,27,2022,851342,(UNK),UNK,(UNK),(UNK),No,No,10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
6,30,2022,824503,Cary,NC,27513,(UNK),No,Yes,3/19/22,NaN,3/19/22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
7,44,2022,555935,(UNK),UNK,(UNK),(UNK),No,(N/A),10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
8,54,2022,547850,(UNK),UNK,(UNK),(UNK),No,(N/A),10/28/13,10/28/13,10/28/13,10/28/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity
9,65,2022,664420,Jasper,IN,47546,(UNK),No,(N/A),4/3/16,4/3/16,4/3/16,4/3/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Activity

In [50]:
# Drop RecordID, CustomerID, CustomerCity, CustomerState, CustomerZipCode, CustomerInstitutionAffinity
# Categorical : IsCustomerInNCAAMembership, HasCustomerClickedOrOpenedEmailsSixMonthsPrior,
# EventRoundName, IsEventFinalSite, EventSession
# Convert to Time: CustomerFirstWBBActionDate, CustomerFirstWBBPurchaseDate, CustomerLastWBBActionDate, CustomerLastWBBPurchaseDate

In [49]:
df.FacilityZipCode.value_counts()

FacilityZipCode
98109    2365
29601    2016
75201    1956
(UNK)    1951
55403    1813
47408    1015
50011     769
02048     622
06259     601
70803     515
29201     496
85721     441
94305     393
48104     309
52242     309
99201     294
75205     273
37996     272
40202     262
27607     250
64106     220
84112     197
27403     186
76706     169
90095     148
78701     106
43210       7
Name: count, dtype: int64

In [48]:
df.FacilityCity.value_counts()

FacilityCity
Seattle           2365
Dallas            2229
Greenville        2016
Minneapolis       1813
(UNK)             1171
Bloomington       1015
Ames               769
Mansfield          622
Storrs             601
Baton Rouge        515
Columbia           496
Tucson             441
Stanford           393
Notre Dame         383
Iowa City          309
Ann Arbor          309
Spokane            294
Knoxville          272
Louisville         262
Raleigh            250
Kansas City        220
Salt Lake City     197
Greensboro         186
Norman             179
Waco               169
Los Angeles        148
Durham             129
Austin             106
Bridgeport          89
Columbus             7
Name: count, dtype: int64

In [47]:
df.FacilityDescription.value_counts()

FacilityDescription
Professional Sports Arena    9637
College Sports Arena         7147
(UNK)                        1171
Name: count, dtype: int64

In [46]:
df.FacilityName.value_counts()

FacilityName
Climate Pledge Arena                                   2365
Bon Secours Wellness Arena                             2016
American Airlines Center                               1956
Target Center                                          1813
(UNK)                                                  1171
Simon Skjodt Assembly Hall                             1015
Hilton Coliseum                                         769
Xfinity Center                                          622
Harry A. Gampel Pavilion                                601
Pete Maravich Assembly Center                           515
Colonial Life Arena                                     496
McKale Center                                           441
Roscoe Maples Pavilion                                  393
Purcell Pavilion at the Joyce Center                    383
Carver-Hawkeye Arena                                    309
Crisler Center                                          309
Spokane Veterans Memorial Arena                         294
Moody Coliseum                                          273
Thompson-Boling Arena                                   272
KFC Yum! Center                                         262
Reynolds Coliseum                                       250
T-Mobile Center                                         220
Jon M. Huntsman Center                                  197
Greensboro Coliseum                                     186
Lloyd Noble Center                                      179
Ferrell Center                                          169
Pauley Pavilion                                         148
Cameron Indoor Stadium                                  129
Frank C. Erwin, Jr. Special Events Center               106
Webster Bank Arena                                       89
Value City Arena at The Jerome Schottenstein Center       7
Name: count, dtype: int64

In [45]:
df.HostingInstitution.value_counts()

HostingInstitution
Seattle University                                     2365
Southern Conference                                    2016
Big 12 Conference                                      1956
University of Minnesota, Twin Cities                   1813
Indiana University, Bloomington                        1015
Louisiana State University                              891
Iowa State University                                   769
University of Connecticut                               690
University of Maryland, College Park                    622
University of South Carolina, Columbia                  496
University of Tennessee, Knoxville                      455
University of Arizona                                   441
Stanford University                                     393
Villanova University                                    387
University of Notre Dame                                383
University of Texas at Austin                           379
University of Michigan                                  309
University of Iowa                                      309
University of Idaho                                     294
University of Louisville                                262
North Carolina State University                         250
Virginia Polytechnic Institute and State University     225
Wichita State University                                220
University of Utah                                      197
Atlantic Coast Conference                               186
University of Oklahoma                                  179
Baylor University                                       169
University of California, Los Angeles                   148
Duke University                                         129
The Ohio State University                                 7
Name: count, dtype: int64

In [51]:
df.EventEndDate.value_counts()

EventEndDate
3/20/23    4418
3/27/23    2395
3/21/22    2187
3/20/22    1957
4/2/23     1002
3/31/23     954
4/3/22      910
4/1/22      903
3/25/23     716
3/24/23     649
3/26/23     621
3/27/22     583
3/18/22     316
3/19/23     132
3/25/22     117
3/28/22      51
3/26/22      38
3/18/23       4
3/16/23       2
Name: count, dtype: int64

In [44]:
df.EventBeginDate.value_counts()

EventBeginDate
3/17/23    3746
3/18/22    3167
3/24/23    2053
3/19/22    1210
4/2/23     1002
3/27/23     991
3/31/23     954
4/3/22      910
4/1/22      903
3/18/23     807
3/25/23     716
3/26/23     621
3/24/22     514
3/25/22     117
3/20/22      83
3/27/22      69
3/28/22      51
3/26/22      38
3/16/23       2
3/20/23       1
Name: count, dtype: int64

In [43]:
df.EventSession.value_counts()

EventSession
All-Session    9420
Session 2      3473
Session 1      3060
Session 3      1011
Session 4       991
Name: count, dtype: int64

In [42]:
df.IsEventFinalSite.value_counts()

IsEventFinalSite
No     14186
Yes     3769
Name: count, dtype: int64

In [41]:
df.EventRoundName.value_counts()

EventRoundName
First and Second Rounds    9014
Regionals                  5170
Finals                     3769
First Round                   2
Name: count, dtype: int64

In [40]:
df.CustomerLastWBBPurchaseDate.value_counts()

CustomerLastWBBPurchaseDate
10/28/13    126974
3/19/22       2385
3/18/22       1874
4/1/18        1706
4/2/17        1591
             ...
1/30/23          1
9/14/22          1
12/31/22         1
1/31/23          1
12/18/22         1
Name: count, Length: 1309, dtype: int64

In [39]:
df.CustomerLastWBBActionDate.value_counts()

CustomerLastWBBActionDate
10/28/13    126694
3/19/22       6588
3/18/22       4500
12/2/20       2409
4/1/18        1757
             ...
3/23/13          1
12/12/21         1
1/19/23          1
4/11/22          1
6/26/22          1
Name: count, Length: 1963, dtype: int64

In [36]:
df.CustomerFirstWBBPurchaseDate.value_counts()

CustomerFirstWBBPurchaseDate
10/28/13    130134
3/19/22       2204
3/18/16       1665
3/20/15       1621
4/1/18        1582
             ...
2/11/23          1
12/16/21         1
1/27/23          1
4/5/22           1
12/18/22         1
Name: count, Length: 1394, dtype: int64

In [35]:
df.CustomerFirstWBBActionDate.value_counts()

CustomerFirstWBBActionDate
10/28/13    129994
3/19/22       6402
3/18/22       4033
3/18/16       1632
4/1/18        1632
             ...
4/14/22          1
5/14/22          1
4/16/22          1
10/16/22         1
11/30/22         1
Name: count, Length: 2530, dtype: int64

In [34]:
df.HasCustomerClickedOrOpenedEmailsSixMonthsPrior.value_counts()

HasCustomerClickedOrOpenedEmailsSixMonthsPrior
(N/A)    116138
Yes       56570
No        36558
Name: count, dtype: int64

In [33]:
df.IsCustomerInNCAAMembership.value_counts()

IsCustomerInNCAAMembership
No       207871
Yes        1393
(UNK)         2
Name: count, dtype: int64

In [32]:
df.CustomerInstitutionAffinity.value_counts()

CustomerInstitutionAffinity
(UNK)                                                  208697
University of South Carolina, Columbia                     37
University of Connecticut                                  30
University of Texas at Austin                              24
University of Nebraska-Lincoln                             23
University of Oklahoma                                     22
Louisiana State University                                 21
University of Notre Dame                                   17
Indiana University, Bloomington                            14
University of Michigan                                     13
University of California, Berkeley                         12
University of Florida                                      12
University of Iowa                                         10
University of California, Los Angeles                      10
University of Kansas                                        9
University of Wisconsin-Madison                             8
University of Maryland, College Park                        8
University of Washington                                    7
Iowa State University                                       7
University of Louisville                                    7
University of Tennessee, Knoxville                          7
University of Kentucky                                      7
University of Arizona                                       7
Texas A&M University, College Station                       7
Washington State University                                 7
Auburn University                                           7
Arizona State University                                    6
University of the Incarnate Word                            6
University of Utah                                          6
University of North Carolina, Chapel Hill                   6
North Carolina State University                             6
The Ohio State University                                   6
Oklahoma State University                                   6
University of Minnesota, Twin Cities                        5
University of Colorado, Boulder                             5
Boston College                                              5
Texas Tech University                                       5
University of Miami (Florida)                               4
University of Arkansas, Fayetteville                        4
South Dakota State University                               4
Illinois State University                                   4
University of Houston                                       4
University of Virginia                                      4
University of Montana                                       4
Duke University                                             4
West Virginia University                                    4
Stanford University                                         4
University of Oregon                                        4
Baylor University                                           4
University of Alabama                                       4
University of Illinois Urbana-Champaign                     4
Texas Woman's University                                    3
San Diego State University                                  3
Ohio University                                             3
Gallaudet University                                        3
Gonzaga University                                          3
Syracuse University                                         3
Boston University                                           3
Old Dominion University                                     3
University at Albany                                        2
Colorado State University                                   2
University of Vermont                                       2
California State University, Fresno                         2
Notre Dame of Maryland University                           2
Northwest Missouri State University                         2
University of Mississippi                                   2
Virginia Polytechnic Institute and State University         2
Pennsylvania State University                               2
Georgia Institute of Technology                             2
University of North Dakota                                  2
Tulane University                                           2
Drake University                                            2
Wesleyan University (Connecticut)                           2
Colorado College                                            2
University of California, Davis                             2
Montana State University-Bozeman                            2
Lubbock Christian University                                2
Santa Clara University                                      2
Pace University                                             2
Purdue University                                           2
University of Pittsburgh                                    2
Wichita State University                                    2
University of South Carolina Upstate                        2
New Jersey Institute of Technology                          2
Texas Southern University                                   2
Vanderbilt University                                       2
Creighton University                                        2
California Polytechnic State University                     2
Texas Christian University                                  2
University of South Dakota                                  2
New Mexico State University                                 2
Washington and Jefferson College                            2
University of Central Florida                               2
Metropolitan State University of Denver                     2
Pennsylvania Western University, Clarion                    2
University of Nebraska, Lincoln                             2
Bradley University                                          2
Brooklyn College                                            2
University of North Texas                                   1
University of Northwestern-St. Paul                         1
South Carolina State University                             1
Texas A&M International University                          1
Angelo State University                                     1
Mississippi State University                                1
Delta State University                                      1
Portland State University                                   1
Michigan State University                                   1
Rollins College                                             1
Princeton University                                        1
Tarleton State University                                   1
University of Missouri, Columbia                            1
Appalachian State University                                1
Kentucky State University                                   1
Northwestern University                                     1
Name: count, dtype: int64

In [8]:
df.ChampionshipYear.value_counts()

ChampionshipYear
2023    110673
2022     98593
Name: count, dtype: int64

In [9]:
df.CustomerID.value_counts()

<bound method IndexOpsMixin.value_counts of 0         757758
1         574752
2         741837
3         237618
4         799761
           ...
209261    867155
209262    662341
209263     38418
209264     74611
209265    318964
Name: CustomerID, Length: 209266, dtype: int64>

In [19]:
df.CustomerState.value_counts()

CustomerState
UNK                135477
TX                   7954
IN                   4783
IA                   3987
WA                   3858
CA                   3619
SC                   3587
KY                   3240
NC                   2672
CT                   2468
OH                   2408
OR                   2296
MD                   2254
LA                   2061
FL                   2021
NY                   1920
MN                   1807
MI                   1710
TN                   1706
IL                   1591
AZ                   1547
MS                   1523
VA                   1378
PA                   1342
NE                   1286
GA                   1150
KS                   1063
OK                    958
CO                    857
MA                    786
NJ                    685
MO                    601
WI                    513
UT                    470
SD                    328
AL                    284
AR                    205
ID                    193
MT                    172
NM                    160
ND                    153
NH                    150
DE                    149
NV                    140
DC                    132
WV                    129
RI                    121
VT                    105
ME                     96
ON                     88
AK                     78
WY                     67
HI                     60
BC                     57
SouthCarolina          34
NewJersey              22
NewYork                22
AB                     17
NorthCarolina          14
In                      8
QC                      7
Manitoba                6
britishcolumbia         5
NorthDakota             5
MB                      4
Hyattsville             4
BritishColumbia         4
MARYL                   4
PR                      4
Alberta                 4
Sc                      3
VI                      3
wlkp                    2
tn                      2
ZuidHolland             2
Md                      2
Ca                      2
Ny                      2
Pensylvania             2
Other                   2
Ste                     2
SouthDakota             2
TOKYO                   2
alberta                 2
me                      2
(UNK)                   2
JAL                     2
Oh                      2
AE                      2
14                      2
A                       2
N                       2
VIC                     2
NewHampshire            2
Kennington              2
Istanbul                2
N5P4J9                  2
19th                    2
NORTH                   1
Name: count, dtype: int64

In [20]:
counts = df['CustomerState'].value_counts()
filtered_states = counts[counts > 1000].index

filtered_df = df[df['CustomerState'].isin(filtered_states)]

In [21]:
filtered_df.CustomerState.value_counts()

CustomerState
UNK    135477
TX       7954
IN       4783
IA       3987
WA       3858
CA       3619
SC       3587
KY       3240
NC       2672
CT       2468
OH       2408
OR       2296
MD       2254
LA       2061
FL       2021
NY       1920
MN       1807
MI       1710
TN       1706
IL       1591
AZ       1547
MS       1523
VA       1378
PA       1342
NE       1286
GA       1150
KS       1063
Name: count, dtype: int64

In [22]:
df.CustomerZipCode.value_counts()

CustomerZipCode
(UNK)    135224
47401       372
39759       320
52245       252
52246       250
          ...
75972         1
49504         1
74604         1
55932         1
77133         1
Name: count, Length: 10087, dtype: int64

In [23]:
df.CustomerInstitutionAffinity.value_counts()

CustomerInstitutionAffinity
(UNK)                                                  208697
University of South Carolina, Columbia                     37
University of Connecticut                                  30
University of Texas at Austin                              24
University of Nebraska-Lincoln                             23
University of Oklahoma                                     22
Louisiana State University                                 21
University of Notre Dame                                   17
Indiana University, Bloomington                            14
University of Michigan                                     13
University of California, Berkeley                         12
University of Florida                                      12
University of Iowa                                         10
University of California, Los Angeles                      10
University of Kansas                                        9
University of Wisconsin-Madison                             8
University of Maryland, College Park                        8
University of Washington                                    7
Iowa State University                                       7
University of Louisville                                    7
University of Tennessee, Knoxville                          7
University of Kentucky                                      7
University of Arizona                                       7
Texas A&M University, College Station                       7
Washington State University                                 7
Auburn University                                           7
Arizona State University                                    6
University of the Incarnate Word                            6
University of Utah                                          6
University of North Carolina, Chapel Hill                   6
North Carolina State University                             6
The Ohio State University                                   6
Oklahoma State University                                   6
University of Minnesota, Twin Cities                        5
University of Colorado, Boulder                             5
Boston College                                              5
Texas Tech University                                       5
University of Miami (Florida)                               4
University of Arkansas, Fayetteville                        4
South Dakota State University                               4
Illinois State University                                   4
University of Houston                                       4
University of Virginia                                      4
University of Montana                                       4
Duke University                                             4
West Virginia University                                    4
Stanford University                                         4
University of Oregon                                        4
Baylor University                                           4
University of Alabama                                       4
University of Illinois Urbana-Champaign                     4
Texas Woman's University                                    3
San Diego State University                                  3
Ohio University                                             3
Gallaudet University                                        3
Gonzaga University                                          3
Syracuse University                                         3
Boston University                                           3
Old Dominion University                                     3
University at Albany                                        2
Colorado State University                                   2
University of Vermont                                       2
California State University, Fresno                         2
Notre Dame of Maryland University                           2
Northwest Missouri State University                         2
University of Mississippi                                   2
Virginia Polytechnic Institute and State University         2
Pennsylvania State University                               2
Georgia Institute of Technology                             2
University of North Dakota                                  2
Tulane University                                           2
Drake University                                            2
Wesleyan University (Connecticut)                           2
Colorado College                                            2
University of California, Davis                             2
Montana State University-Bozeman                            2
Lubbock Christian University                                2
Santa Clara University                                      2
Pace University                                             2
Purdue University                                           2
University of Pittsburgh                                    2
Wichita State University                                    2
University of South Carolina Upstate                        2
New Jersey Institute of Technology                          2
Texas Southern University                                   2
Vanderbilt University                                       2
Creighton University                                        2
California Polytechnic State University                     2
Texas Christian University                                  2
University of South Dakota                                  2
New Mexico State University                                 2
Washington and Jefferson College                            2
University of Central Florida                               2
Metropolitan State University of Denver                     2
Pennsylvania Western University, Clarion                    2
University of Nebraska, Lincoln                             2
Bradley University                                          2
Brooklyn College                                            2
University of North Texas                                   1
University of Northwestern-St. Paul                         1
South Carolina State University                             1
Texas A&M International University                          1
Angelo State University                                     1
Mississippi State University                                1
Delta State University                                      1
Portland State University                                   1
Michigan State University                                   1
Rollins College                                             1
Princeton University                                        1
Tarleton State University                                   1
University of Missouri, Columbia                            1
Appalachian State University                                1
Kentucky State University                                   1
Northwestern University                                     1
Name: count, dtype: int64

In [24]:
df.ActivityType.value_counts()

ActivityType
No Activity                 191311
Primary Purchase             13026
Transfer Recipient            3283
Secondary Purchase             879
Multiple Activities            659
Other Secondary Activity       108
Name: count, dtype: int64

In [ ]:
new_df = df.copy()
new_df.drop(["RecordID", "CustomerID", "CustomerState", "CustomerZipCode"])

In [27]:
!pip install xgboost
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in /Users/tringuyen1803/Library/Python/3.9/lib/python/site-packages (2.0.3)
Requirement already satisfied: numpy in /Users/tringuyen1803/Library/Python/3.9/lib/python/site-packages (from xgboost) (1.26.3)
Requirement already satisfied: scipy in /Users/tringuyen1803/Library/Python/3.9/lib/python/site-packages (from xgboost) (1.11.4)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Users/tringuyen1803/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in /Users/tringuyen1803/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.11.4)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_12_0_arm64.whl (10.7 MB)
    10.7/10.7 MB 39.2 MB/s eta 0:00:0000:010:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
    302.2/302.2 kB 22.8 MB/s eta 0:00:00
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [28]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import xgboost as xgb

In [29]:
X = df.drop('ActivityType', axis=1)  # Features
y = df['ActivityType']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0 1 2 3 4 5], got ['Multiple Activities' 'No Activity' 'Other Secondary Activity'
 'Primary Purchase' 'Secondary Purchase' 'Transfer Recipient']

In [ ]:
y_pred = model.predict(X_test)